---
import Base from "@/layouts/Base.astro";
import Link from "@/components/Link.astro";
import { SITE } from "@/consts/site";
import { PROJECTS } from "@/consts/projects";
---

<Base title={SITE.NAME} description={SITE.DESCRIPTION}>
  <h1>Hello, World!</h1>
  <p>Computer Science and Mathematics</p>
  <p>Interested in systems programming, Vim, Unix, and algorithms.</p>

  <h2>Projects</h2>
  <div class="projects">
      {
        PROJECTS.map(({ NAME, DESCRIPTION, REPO, DEMO }) => (
          <h3>{NAME}</h3>
          <p>{DESCRIPTION}</p>
          <Link href={REPO}>
            <span class="sr-only">Repo</span>
            Repo
          </Link>
          <Link href={DEMO}>
          <span class="sr-only">Demo</span>
          Demo
        </Link>
      ))
    }
  </div>
</Base>
