---
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";

const projects = [
  {
    name: "Watchdog",
    description:
      "Watchdog is a minimal and thread safe C library for tracking memory allocations, reallocations, and frees to detect memory leaks, buffer overflows, and double frees.",
    demoURL: "https://github.com/ragibasif/watchdog",
    repoURL: "https://github.com/ragibasif/watchdog",
  },
  {
    name: "Bitter Interpreter",
    description:
      "An interpreter for the Bitter esoteric programming language written in C.",
    demoURL: "https://github.com/ragibasif/bitter",
    repoURL: "https://github.com/ragibasif/bitter",
  },
];
import { PROJECTS } from "@consts";
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <section class="projects">
    <h1>Projects</h1>
    <ul class="project-list">
      {
        projects.map((project) => (
          <li class="project-item">
            <h3>{project.name}</h3>
            <p>{project.description}</p>
            <Link href={project.demoURL}>Demo</Link>
            <Link href={project.repoURL}>Repo</Link>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }

  .project-item {
    border: 1px solid var(--accent);
    padding: 1.5rem;
    border-radius: 0.75rem;
    transition:
      border-color 0.2s ease,
      transform 0.2s ease;
  }

  .project-item:hover {
    transform: translateY(-2px);
  }

  .project-item a {
    margin-top: 0.5rem;
    display: inline-block;
  }
</style>
