---
import Post from "@/layouts/Post.astro";
import { WORK } from "@/consts/consts";
---

<Post
  title="Work"
  description="A page to show my work history."
  pubDate={new Date("August 08 2025")}
  updatedDate={new Date("August 11 2025")}
  featured={false}
>
  <div class="work">
      {
        WORK.map(({ TITLE, COMPANY,LOCATION,START,END,DESCRIPTION }) => (
          <h3>{TITLE}</h3>
          <h4>{COMPANY}</h4>
          <p>{LOCATION}</p>
          <p>{START}</p>
          <p>{END}</p>
          <p>{DESCRIPTION}</p>
      ))
    }
  </div>
</Post>
